* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(10px, 4vw, 14px);
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {list-style-type: none;}

img {
    width: 100%;
    max-width: 100%;
}

.mtb {margin: 100px 0;}
.mt {margin-top: 100px;}
.mb {margin-bottom: 100px;}

.ptb {padding: 100px 0;}
.pt {padding-top: 100px;}
.pb {padding-bottom: 100px;}

.flex {display: flex;}

.aic {align-items: center;}

::placeholder {
    color: #ffffff;
    font-style: italic;
    font-size: 14px;
}

.modal__cross {
    padding: 10px;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-size: clamp(14px, 3vw, 40px);
    color: #ffffff;
}

/* container
=====================*/
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* btn
=====================*/
.btn {
    display: inline-block;
    padding: 10px 25px;
    background-color: #FEAF1E;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .3s linear;
    border: 1px solid transparent;
}

.transparent:hover {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.fully:hover {
    color: #ffffff;
    background-color: #6A6B6C;
    border: 1px solid #000000;
}

/* header
=====================*/
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    padding: 25px 0;
}

/* nav
=====================*/
nav {
    justify-content: space-between;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.burger {
    display: none;
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.nav__item {
    margin-left: 15px;
}

.nav__item:first-child {
    margin-left: 0;
}

.nav__link,
.sidebar__link {
    padding: 15px 10px;
    transition: .1s linear;
}

.nav__link:hover,
.burger:hover {
    color: #ffffff;
}

.nav__item:last-child,
.sidebar__item:last-child {
    position: relative;
}

.shop__count {
    display: none;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: -5px;
    left: 18px;
    font-size: 9px;
    background-color: #797979;
    padding: 2px 5px;
    border-radius: 50%;
    color: #ffffff;
}

/* modal__check
=====================*/
.modal__check .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8;
}

.check__content {
    display: none;
    max-height: calc(100% - 125px);
    padding: 30px 0;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #f2f2f2;
    color: #333333;
    z-index: 8;
}

.check {
    justify-content: center;
}

.check__left,
.check__right {
    width: 300px;
}

.shop__item {
    width: 250px;
    border-bottom: 1px solid #333333;
    margin: 0 30px 20px 10px;
}

.check__right {
    text-align: center;
    border-left: 1px solid #333333;
    padding-left: 30px;
}

.check__right form {
    flex-wrap: wrap;
    justify-content: center;
}

.check__right form input {
    width: 100%;
    outline: none;
    border: 1px solid #333333;
    background-color: transparent;
    padding: 14px 20px;
    margin-bottom: 10px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

.check__right form input:last-child {
    margin-bottom: 30px;
}

.check__right form input::placeholder {
    color: #333333;
}

.check__title {
    font-size: clamp(18px, 3vw, 24px);
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.shop__title {
    font-size: 18px;
}

.shop__price {
    margin-bottom: 10px;
}

.shop__price span {
    font-size: 16px;
    font-weight: 700;
}

.fa-trash {
    margin-left: 110px;
    padding: 5px;
    cursor: pointer;
    transition: .2s ease;
}

.fa-trash:hover {
    color: #fe1e1e;
}

.shop__total {
    text-align: center;
}

.shop__total span:first-child {
    font-weight: 700;
}

.shop__footer .btn {
    padding: 13px 15px;
    font-size: 14px;
}

.check__content .modal__cross,
.blogs__modal .modal__cross {
    color: #333333;
    font-size: clamp(14px, 3vw, 30px);
}

/* fixed
=====================*/
.fixed {
    position: fixed;
    background-color: #212121;
}

header.fixed .logo,
header.fixed .nav__link,
header.fixed .burger {
    color: #ffffff;
}

header.fixed .nav__link:hover {
    color: #FEAF1E;
}

/* sidebar
=====================*/
.sidebar {
    width: 0;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333333;
    transition: .5s ease;
    z-index: 9;
}

.sidebar__list {
    margin-right: 30px;
    padding: 25px 30px;
}

.sidebar__item {
    margin: 20px 0 30px;
}

.sidebar__item .logo {color: #ffffff;}

.sidebar__link {
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
}

.sidebar__link:hover {
    color: #FEAF1E;
}

.sidebar__cross {
    height: 35px;
    margin-top: 35px;
    margin-right: 30px;
    padding: 10px;
    border: none;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.sidebar__cross:hover,
.modal__cross:hover {
    color: #FEAF1E;
}

/* intro
=====================*/
.intro {
    background: #31344e url(../img/header/bg.png) center no-repeat;
    background-size: cover;
    padding: 380px 0 150px;
}

.intro__content .btn:last-child {
    margin-left: 15px;
}

.intro__title {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: clamp(32px, 5vw, 60px);
    color: #ffffff;
    text-transform: uppercase;
}

.intro__title span {display: block;}

/* about, skills
=====================*/
.about {border-bottom: 2px solid #afafaf;}

.about__content,
.moreabout__content,
.works__content,
.works__modal,
.services__content,
.modal__content,
.portfolio__content,
.skills__content,
.achieve__content,
.price__content,
.brands__content,
.subscribe__form,
.blogs__content,
.footer__content {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.about__info,
.about__accordion,
.skills__info,
.skills__meter {
    width: 525px;
}

.about__title,
.skills__title,
.footer__title {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(30px, 5vw, 35px);
    font-weight: 500;
    text-transform: uppercase;
}

.about__title::after,
.skills__title::after,
.footer__title::after {
    content: "";
    width: 85px;
    height: 3px;
    display: block;
    margin: 20px 0;
    background-color: #FEAF1E;
}

.about__text,
.skills__text,
.footer__text {
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 40px;
}

/* accordion
=====================*/
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
    border-bottom: none;
}

.accordion__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.accordion__arrow {
    background-color: #E0E0E0;
    width: 48px;
    height: 45px;
    line-height: 3.3;
    text-align: center;
}

.accordion__item.active .accordion__arrow  {
    background-color: #333333;
}

.accordion__item.active .accordion__arrow .fa-chevron-right  {
    color: #ffffff;
    transform: rotate(90deg);
}

.accordion__title,
.moreabout__title,
.services__title,
.modal__name,
.modal__name-game,
.portfolio__title,
.meter__title,
.reviews__author,
.blogs__title,
.form__title {
    margin-left: 15px;
    font-size: clamp(10px, 4vw, 14px);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.accordion__content {
    height: 0;
    padding: 0 25px;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.3;
    transition: .5s ease;
}

.accordion__item.active .accordion__content {
    height: 125px;
    padding: 25px;
    border-bottom: 1px solid #e4e4e4;
}

/* details__modal
=====================*/
.details__modal .overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8;
}

.modal {
    display: none;
    width: 100%;
    max-height: calc(100% - 125px);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #f2f2f2;
    z-index: 8;
}

.modal__more .container {
    max-width: 1380px;
}

.modal .modal__text {
    margin: 30px 0;
}

.modal img:last-child {
    padding-bottom: 30px;
}

.modal .modal__title {
    padding: 30px 0 0;
}

.modal .modal__title,
.modal .modal__text,
.modal .modal__cross {
    color: #333333;
}

.modal .modal__text {
    text-align: left;
}

.modal .modal__cross:hover {
    color: #FEAF1E;
}

/* moreabout
=====================*/
.moreabout__item,
.services__item {
    width: 360px;
}

.moreabout__header {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.icon__circle {
    border: 5px solid #feb01e54;
    border-radius: 50%;
}

.fa-compass,
.fa-comment,
.fa-heart {
    background-color: #FEAF1E;
    padding: 19px 20px;
    border-radius: 50%;
    font-size: 22px;
}

.moreabout__text {
    font-weight: 400;
    line-height: 16px;
}

/* video
=====================*/
.video iframe {display: none;}

.video {
    background: url(../img/video/video.png) center no-repeat;
    background-size: cover;
    font-size: clamp(70px, 8vw, 100px);
    transition: padding-bottom 1s ease;
}

.video.tool {
    background: none;
    padding-bottom: 20%;
}

.video.tool .video__link,
.video.tool .overlay {
    display: none;
}

.video.tool iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.video,
.video__link {
    position: relative;
}

.video .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.7);
}

.video__link {
    cursor: pointer;
    transition: .2s linear;
    color: #ffffff;
}

.video__link:hover {
    color: #FEAF1E;
}

/* section
=====================*/
.video,
.section__header,
.hire,
.achieve__item,
.reviews,
.price__item,
.blogs__item,
.subscribe,
.map,
.copyright {
    text-align: center;
}

.section__title,
.modal__title,
.reviews__title,
.hire__title,
.subscribe__title,
.map__link {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(20px, 3vw, 32px);
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    width: 85px;
    height: 3px;
    display: block;
    margin: 20px auto;
    background-color: #FEAF1E;
}

.section__text,
.services__text,
.hire__text,
.reviews__text,
.subscribe__text,
.modal__text {
    font-weight: 400;
    line-height: 20px;
}

/* works
=====================*/
.works,
.works__item {
    position: relative;
}

.works > .overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8;
}

.works__item .overlay,
.portfolio__item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    transition: .3s ease;
}

.works__item:hover .overlay,
.portfolio__item:hover .overlay {
    opacity: 1;
}

.works__item .overlay .works__link,
.portfolio__item .overlay .overlay__content {
    opacity: 0;
}

.works__item:hover .overlay .works__link,
.portfolio__item:hover .overlay .overlay__content {
    width: 185px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    transition: color .2s linear;
    opacity: 1;
}

.works__item:hover .overlay .works__link {
    font-size: 48px;
    padding: 20px;
}

.works__item .overlay .works__link:hover,
.portfolio__item .overlay .portfolio__link:hover {
    color: #FEAF1E;
}

/* works__modal
=====================*/
.works__modal {
    display: none;
    width: 100%;
    max-height: calc(100% - 125px);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #333333;
    z-index: 8;
}

.modal__item {
    display: none;
}

.modal__title {
    text-align: center;
}

.modal__title,
.modal__info {
    padding: 30px 0;
}

.modal__info img {
    margin-bottom: 30px;
}

.modal__title,
.modal__text {
    color: #ffffff;
}

.modal__text {
    margin-bottom: 20px;
}

.modal__text + p {
    text-align: center;
}

/* services
=====================*/
.services {border-top: 2px solid #afafaf;}

.fa-lightbulb,
.fa-desktop,
.fa-sync-alt {
    font-size: 36px;
    margin-bottom: 20px;
}

.services__title {
    margin-left: 0;
    margin-bottom: 10px;
    position: relative;
}

.services__title::after {
    content: "";
    width: 35px;
    height: 3px;
    display: block;
    margin: 10px 0;
    background-color: #FEAF1E;
}

/* hire
=====================*/
.hire {
    background: #31344e url(../img/hire/hire.png) center no-repeat;
    background-size: cover;
}

.hire, 
.hire__content {
    position: relative;
}

.hire .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.7);
}

.hire__title,
.hire__text {
    color: #ffffff;
    margin-bottom: 40px;
}

/* hire__modal
=====================*/
.hire__modal {
    display: none;
    overflow-y: auto;
    padding: 30px;
    width: 100%;
    max-height: calc(100% - 125px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #F2F2F2;
    z-index: 8;
}

.hire__modal .modal__title {
    color: #333333;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.modal__content {
    row-gap: 0;
}

.modal__card {
    width: 250px;
    margin: 30px 0;
    background-color: #ffffff;
    position: relative;
    transition: .3s ease;
    box-shadow: 0 0 10px 1px #b7b7b7;
}

.modal__name {
    margin: 20px 0 10px;
    font-weight: 400;
}

.modal__pos {
    margin-bottom: 20px;
    font-style: italic;
}

.modal__card img {transition: .2s linear;}

.modal__card:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #333333;
    background: linear-gradient(#FEAF1E, #ffffff);
}

.modal__card:hover img {
    opacity: .1;
}

.modal__card:hover .social {
    opacity: 1;
    visibility: visible;
}

.social {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hire__link {
    font-size: 24px;
    color: #ffffff;
    padding: 5px 8px;
    background-color: #333333;
    transition: .2s ease;
}

.hire__link:hover {
    color: #333333;
    background-color: #ffffff;
}

.hire__modal .modal__cross {
    color: #333333;
}

.hire__modal .modal__cross:hover {
    color: #FEAF1E;
}

/* portfolio
=====================*/
.portfolio > .overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 7;
}

.portfolio__content {gap: 15px;}

.portfolio__item {position: relative;}

.portfolio__title {margin: 0 0 20px;}

.portfolio__icon {
    display: flex;
    justify-content: center;
}

.portfolio__link {
    color: #ffffff;
    margin: 0 20px;
    font-size: 24px;
    transition: .2s linear;
}

/* portfolio__modal
=====================*/
.modal__product {
    display: none;
    overflow-y: auto;
    width: 50%;
    max-height: calc(100% - 125px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #333333;
    z-index: 8;
}

.modal__product .container {
    max-width: 900px;
}

.modal__name-game {
    color: #ffffff;
    padding: 0;
    margin: 30px 10px 0;
    text-align: left;
}

.modal__product .modal__text {
    margin: 20px 10px 30px;
    text-align: left;
    font-style: italic;
}

.modal__img {
    position: relative;
    justify-content: space-around;
    user-select: none;
    transition: .3s linear;
}

.modal__img img {
    pointer-events: none;
}

.modal__product .slider__left,
.modal__product .slider__right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 10px;
}

.modal__product .slider__left {
    padding-left: 5px;
    left: 0;
}

.modal__product .slider__right {
    padding-right: 5px;
    right: 0;
}

.modal__product .slider__left:hover,
.modal__product .slider__right:hover {
    background-color: rgba(255, 255, 255, .3);
}

/* meter
=====================*/
.meter__item {margin-bottom: 40px;}

.meter__item:last-child {
    margin-bottom: 0;
}

.meter__title {margin: 0 0 5px;}

.meter li {height: 10px;}

.meter__fill {background-color: #FEAF1E;}

.meter__full {background-color: #F2F2F2;}

.one__fill,
.two__fill,
.three__fill {
    width: 0;
    transition: 5s linear;
}

.one__full,
.two__full,
.three__full {
    width: 100%;
    transition: 5s linear;
}

.meter.loadMeter .one__fill {width: 80%;}
.meter.loadMeter .one__full {width: 20%;}
.meter.loadMeter .two__fill {width: 70%;}
.meter.loadMeter .two__full {width: 30%;}
.meter.loadMeter .three__fill {width: 90%;}
.meter.loadMeter .three__full {width: 10%;}

/* achieve
=====================*/
.achieve {border-top: 2px solid #afafaf;}

.achieve__content {gap: 50px;}

.achieve__item {width: 200px;}

.achieve__number {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
}

.achieve__number::after {
    content: "";
    width: 35px;
    height: 3px;
    display: block;
    margin: 20px auto;
    background-color: #FEAF1E;
}

.achieve__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

/* reviews
=====================*/
.reviews {
    justify-content: space-around;
    background: #31344e url(../img/reviews/reviews.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
    position: relative;
}

.reviews__title,
.slider__left,
.slider__right,
.reviews__item {
    z-index: 2;
    position: relative;
}

.reviews .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.7);
    z-index: 0;
}

.reviews__title {
    margin-bottom: 40px;
}

.reviews__content {
    justify-content: space-between;
}

.reviews__author {
    margin: 20px 0;
}

.reviews__star {
    justify-content: center;
    gap: 3px;
}

.fa-star {color: #ffe600;}

.slider__left,
.slider__right {
    font-size: clamp(16px, 3vw, 40px);
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: .3s linear;
    padding: 70px 20px;
}

.slider__left:hover,
.slider__right:hover {
    color: #FEAF1E;
}

/* price
=====================*/
.price {background-color: #F2F2F2;}

.price__item,
.blogs__item {
    background-color: #ffffff;
    box-shadow: 5px 5px #00000040;
    border-top: 5px solid transparent;
    transition: all .3s linear;
}

.price__item:hover {
    transform: translate(-10px, -10px);
    box-shadow: 15px 15px #00000040;
    border-color: #FEAF1E;
}

.price__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 20px 0 40px;
}

.cost {
    display: inline-block;
    background-color: #FEAF1E;
    padding: 12px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.cost p {
    background-color: #FEAF1E;
    padding: 40px 16px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.cost__number {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.cost__text {
    font-weight: 500;
    font-size: 13px;
}

.include {
    text-align: left;
    margin: 0 82px;
}

.include__item {margin-bottom: 25px;}

.fa-check-circle,
.fa-times-circle {
    margin-right: 10px;
}

.fa-check-circle {color: #FEAF1E;}

.price__item .btn {
    padding: 18px 25px;
    margin: 30px 0 70px;
}

/* brands
=====================*/
.brands__content {gap: 50px;}

.brands__link {
    display: inline-block;
    padding: 10px;
    transition: .2s linear;
}

.brands__link:hover {
    background-color: #FEAF1E;
    box-shadow: 5px 5px #00000040;
    transform: translate(-10px, -10px);
} 

/* subscribe
=====================*/
.subscribe {
    background: #31344e url(../img/subscribe/subscribe.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.subscribe,
.subscribe__content {
    position: relative;
}

.subscribe .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1e1e1eb3;
}

.subscribe__title,
.subscribe__text {
    margin-bottom: 40px;
}

.subscribe__form {gap: 10px;}

.subscribe__form input {
    width: 500px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 13px;
    color: #ffffff;
    outline: none;
}

.subscribe__form .btn {cursor: pointer;}

/* blogs
=====================*/
.blogs {
    background-color: #F2F2F2;
}

.blogs__item:hover {
    box-shadow: 15px 15px #00000040;
    transform: translate(-10px, -10px);
}

.blogs__item img {
    height: auto;
    width: 100%;
}

.blogs__title {margin: 25px 5px 10px;}

.blogs__text {font-style: italic;}

.blogs__item .btn {
    margin: 25px 0;
    padding: 10px 35px;
}

/* blogs__modal
=====================*/
.blogs__modal .modal__title,
.blogs__modal .modal__text {
    color: #333333;
}

.blogs__top,
.blogs__bottom {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.blogs__top .modal__text,
.blogs__bottom .modal__text,
.blogs__img {
    width: 48%;
}

.blogs__modal iframe {
    margin-bottom: 30px;
}

.blogs > .overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 8;
}

.blogs__modal {
    display: none;
    width: 100%;
    max-height: calc(100% - 125px);
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background-color: #f2f2f2;
    z-index: 8;
}

/* map
=====================*/
.map iframe {display: none;}

.map {
    background: #31344e url(../img/map/map.png) center no-repeat;
    background-size: cover;
    color: #ffffff;
    transition: .5s linear;
}

.map.tool {
    background: none;
    padding: 0;
}

.map.tool .overlay,
.map.tool .map__link {
    display: none;
}

.map.tool iframe {display: block;}

.map,
.map__content {
    position: relative;
}

.map .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1e1e1ed4;
    transition: .5s linear;
}

.map__link {
    color: #ffffff;
    transition: all .2s linear;
}

.map__link:hover {
    color: #FEAF1E;
}

.fa-map-marker {margin-left: 20px;}

/* footer
=====================*/
footer {
    background-color: #5a5a5a;
    color: #ffffff;
}

.footer__info {width: 380px;}

.footer__icon {gap: 10px;}

.footer__link {
    font-size: 24px;
    padding: 10px 14px;
    border-radius: 50%;
    color: #ffffff;
    transition: .2s linear;
}

.footer__link:nth-child(1),
.footer__link:nth-child(2) {
    padding: 10px 13px;
}

.footer__link:hover {
    color: #FEAF1E;
}

.footer__form {width: 700px;}

.form__title {
    margin: 10px 0;
    font-size: 18px;
}

.footer__form form {
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__form input,
footer textarea {
    width: 100%;
    outline: none;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 14px 20px;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

footer textarea {display: block;}

.footer__form .btn {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    cursor: pointer;
}

.copyright {
    background-color: #212121;
    padding: 35px 0;
    color: #ffffff;
}

/* adaptive */
@media (max-width: 1024px) {
    .modal__product {
        width: 80%;
    }

    .blogs__top .modal__text,
    .blogs__bottom .modal__text,
    .blogs__img {
        width:100%;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .burger {
        display: block;
    }

    .check {
        flex-wrap: wrap;
    }

    .check__right {
        border-left: none;
        border-top: 1px solid #333333;
        padding-left: 0;
        padding-top: 30px;
        margin-top: 30px;
    }

    .accordion__item.active .accordion__content {
        overflow-y: auto;
    }
}

@media (max-width: 425px) {
    .video iframe {
        height: 240px;
    }

    .works__modal iframe,
    .blogs__modal iframe {
        height: 200px;
    }

    .modal__product {
        width: 100%;
    }     
}