* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.p-100 {
    padding: 100px 0;
}

.pb-100 {
    padding-bottom: 100px;
}

.bg-gray {
    background-color: #f2f2f2;
}

.bg-dgray {
    background-color: #6a6b6c;
}

::placeholder {
    color: #fff;
    font-style: italic;
    font-size: 14px;
}

.yellow {
    color: #FEAF1E;
}

.close {
    cursor: pointer;
    position: absolute;
    right: 300px;
    top: 50px;
    text-align: center;
    color: #fff;
    font-size: 45px;
}

.overlay {
    background-color: #000;
    opacity: .9;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

/* container
=====================*/
.container {
    max-width: 1171px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header
=====================*/
.header {
    width: 100%;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo a h2 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.header__fixed {
    position: fixed;
    background-color: #212121;
}

.header__fixed .nav__link:hover a {
    color: #888888;
}

.header__fixed .header__logo a h2 {
    color: #fff;
}

.header__fixed .nav__link a {
    color: #fff;
}

/* search
=====================*/
.search {
    display: none;
    width: 675px;
    background-color: #333;
    position: absolute;
    top: 22px;
    right: 378px;
    transition: .5s linear;
}

.search__inner {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.search__inner form {
    width: 93%;
}

.search__inner form input {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
    color: #fff;
}

.search__close {
    cursor: pointer;
}

/* nav
=====================*/
.nav ul {
    display: flex;
    font-weight: 500;
}

ul {
    list-style-type: none;
}

.nav__link {
    margin-left: 15px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link a {
    padding: 15px 10px;
    transition: .1s linear;
}

.nav__link:hover a {
    color: #fff;
}

.shop__hover {
    position: relative;
}

.shop__hover a i {
    transition: .1s linear;
}

/* card, shop
=====================*/
.shop__count {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: -8px;
    left: 18px;
    font-size: 9px;
    background-color: #797979;
    padding: 3px 6px;
    border-radius: 50%;
    color: #fff;
}

.shop__hover:hover .shop__card {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 30px);
}

.shop__dropdown {
    opacity: 0;
    visibility: hidden;
    width: 255px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    transition: all .5s linear;
    transform: translate(0, 20px);
}

.card__item {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-bottom: 35px;
    padding-right: 40px;
}

.card__item:first-child {
    padding-top: 22px;
    border-top: 5px solid #797979;
}

.card__item:nth-child(3) {
    padding-bottom: 15px;
}

.card__text {
    padding-left: 15px;
}

.card__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.card__price {
    padding-top: 10px;
}

.card__price span:first-child,
.card__price span:last-child {
    color: #797979;
}

.card__price span:last-child {
    cursor: pointer;
}

.card__price span:last-child:hover {
    color: #333;
}

.card__price span:nth-child(2) {
    color: #FEAF1E;
}

.card__price span:last-child {
    padding-left: 35px;
    font-size: 12px;
}

.card__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 10px;
}

.card__total .card__btn {
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 15px;
    margin-left: 10px;
    font-weight: 300;
}

.card__total .card__btn:hover {
    background-color: #555;
}

.total__price {
    color: #797979;
    padding-right: 10px;
}

.total__price p span:first-child {
    font-weight: 700;
}

.brg__menu {
    display: none;
}

/* intro
=====================*/
.intro {
    height: 822px;
    padding-top: 380px;

    background: #31344e url(../img/other/background.jpg) center no-repeat;
    background-size: cover;
}


.intro__inner {
    width: 100%;
    max-width: 970px;
}

.intro__inner a:nth-child(3) {
    margin-left: 15px;
}

.intro__inner .btn:nth-child(3) {
    background-color: transparent;
    padding: 9px 24px;
    border: 1px solid #fff;
    color: #fff;
}

.intro__inner .btn:nth-child(3):hover {
    color: #000;
    background-color: #FEAF1E;
}

.intro__title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.intro__title span {
    display: block;
}

/* button
=====================*/
.btn {
    display: inline-block;
    padding: 10px 25px;

    background-color: #FEAF1E;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    transition: background-color .5s linear;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 24px;
}

/* about, ourskill
=====================*/
.about,
.ourskill {
    border-bottom: 2px solid #afafaf;
}

.about__inner,
.ourskill__inner,
.infiniti__inner {
    display: flex;
    justify-content: space-between;
}

.about__info,
.about__accordion,
.ourskill__info,
.ourskill__progress {
    width: 48%;
}

.about__info .btn:hover {
    background-color: #6A6B6C;
    color: #fff;
    border: 1px solid #000;
    padding: 9px 24px;
}

.ourskill__info .info__text {
    margin-bottom: 0;
}

/* info
=====================*/
.info__title, 
.info__title_other {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    margin-bottom: 45px;
}

.info__title::before {
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 0;
    
    background-color: #FEAF1E;
}

.info__title_other::before {
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 0;
    
    background-color: #FEAF1E;
}

.info__text {
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 45px;
}

.info__icons i {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 3;
    background-color: #434343;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s linear;
}

.info__icons i:hover {
    color: #434343;
    background-color: #fff;
}

/* accordion
=====================*/
.accordion__item {
    margin-bottom: 10px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.accordion__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    transition: .5s linear;
}

.arrow {
    background-color: #e0e0e0;
    padding: 17px 21px;
}

.accordion__title,
.logo__title,
.services__title,
.progress__title,
.testimonial__author {
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.accordion__content {
    padding: 35px 25px 25px;
    font-weight: 300;
    line-height: 16px;
    border-bottom: 1px solid #e4e4e4;
    display: none;
}

.accordion__item .active .arrow i {
    transform: rotate(90deg);
    color: #fff;
}

.accordion__item .active .arrow {
    background-color: #333;
}

/* moreabout
=====================*/
.moreabout__inner,
.calc__inner {
    display: flex;
    justify-content: space-between;
}

.moreabout__inner .moreabout__item:nth-child(2) .moreabout__logo .logo__circle,
.moreabout__inner .moreabout__item:nth-child(3) .moreabout__logo .logo__circle {
    padding: 18px;
}

.moreabout__item,
.calc__item {
    width: 33%;
}

.moreabout__logo {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}

.logo__circle {
    background-color: #FEAF1E;
    padding: 18px 21px;
    border-radius: 50%;
    z-index: 2;
}

.logo__circle i {
    font-size: 22px;
}

.moreabout__logo::before {
    content: "";
    background-color: #FEAF1E;
    padding: 33px 34px;
    border-radius: 50%;
    opacity: .5;
    top: -4px;
    left: -5px;
    position: absolute;
}

.moreabout__text,
.services__text {
    font-weight: 300;
    line-height: 16px;
}

/* video
=====================*/
.video__frame {
    display: none;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 15%;
    z-index: 1000;
}

.video__play {
    height: 280px;
    background: #31344e url(../img/other/prevideo.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 3;
    font-size: 100px;
    position: relative;
}

.video__play::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 2;
}

.video__play a i{
    cursor: pointer;
    transition: .3s linear;
    color: #fff;
    position: relative;
    z-index: 3;
}

.video__play a:hover i{
    color: #000;
}

/* section
=====================*/
.section__header {
    text-align: center;
}

.section__title,
.section__title_otherLine {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 45px;
    position: relative;
    text-transform: uppercase;
}

.section__title::before {
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 915px;
    
    background-color: #FEAF1E;
}

.section__title_otherLine::before {
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 915px;
    
    background-color: #FEAF1E;
}

.section__text,
.hireus__text,
.testimonial__text,
.subscribeus__text {
    width: 800px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 20px;
}

/* featuredwork
=====================*/
.featuredwork {
    position: relative;
    max-width: 1903;
    overflow: hidden;
}

.work__image {
    display: none;
    position: fixed;
    top: 5%;
    left: 15%;
    z-index: 1000;
}

.work__image img {
    display: none;
    width: 1280px;
    height: 720px;
}

.work__image .context {
    display: none;
    color: #fff;
    background-color: #2e2e2e;
    padding: 30px 30px 45px 45px;
}

.work__image .context h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.work__modal .circle__left {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 430px;
    left: 178px;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s linear;
    z-index: 999;
}

.work__modal .circle__left::before {
    content: "<";
    position: absolute;
    top: 5px;
    left: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    z-index: 1000;
}

.work__modal .circle__right::after {
    content: ">";
    position: absolute;
    top: 5px;
    right: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    z-index: 999;
}

.work__modal .circle__right {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 430px;
    right: 229px;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s linear;
    z-index: 999;
}

.work__modal .circle__left:hover,
.work__modal .circle__right:hover {
    background-color: #555;
}

.work {
    display: flex;
    justify-content: center;
}

.work__item {
    width: 580px;
    height: 330px;
    margin: 0 10px;
    opacity: .7;
}

.work__item:nth-child(3) {
    opacity: 1;
}

.work__item img {
    height: 100%;
}

.plus {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 145px;
    left: 933px;
    cursor: pointer;
    transition: .3s linear;
}

.plus:hover {
    color: #fff;
    background-color: #333;
}

/* ourservices
=====================*/
.services {
    display: flex;
    justify-content: space-between;
}

.services__icon {
    font-size: 36px;
    padding: 0 0 25px 10px;
}

.services__title {
    padding-left: 0;
    padding-bottom: 25px;
    position: relative;
}

.services__title::before {
    content: "";
    width: 35px;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    
    background-color: #FEAF1E;
}

.services__text {
    padding-right: 5px;
}

.fa-sync-alt {
    transform: rotate(45deg);
}

/* hireus
=====================*/
.hireus__inner {
    height: 400px;
    background: #31344e url(../img/other/hireus.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.hireus__inner .btn {
    position: relative;
    z-index: 3;    
}

.hireus__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 2;
}

.hireus__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
}

.hireus__text {
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
    width: 750px;
}

/* ourportfolio
=====================*/
.portf_h {
    height: 1618px;
}

.portfolio {
    position: relative;
}

.portfolio__item {
    transition: .1s linear;
    z-index: 1;
}

.portfolio__item:first-child {
    width: 360px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio__item:nth-child(2) {
    width: 750px;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio__item:nth-child(3) {
    width: 360px;
    height: auto;
    position: absolute;
    top: 306px;
    left: 391px;
}

.portfolio__item:nth-child(4) {
    width: 360px;
    height: auto;
    position: absolute;
    top: 306px;
    right: 0;
}

.portfolio__item:nth-child(5) {
    width: 360px;
    height: auto;
    position: absolute;
    top: 612px;
    left: 0;
}

.portfolio__item:nth-child(6) {
    width: 360px;
    height: auto;
    position: absolute;
    top: 612px;
    left: 391px;
}

.portfolio__item:nth-child(7) {
    width: 750px;
    height: auto;
    position: absolute;
    bottom: -1199px;
    left: 0;
}

.portfolio__item:nth-child(8) {
    width: 360px;
    height: 278px;
    position: absolute;
    bottom: -1196px;
    right: 0;
    transition: .5s linear;
}

.portfolio__info {
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    text-align: center;
    position: absolute;
    top: 245px;
    left: 95px;
    color: #fff;
    transition: .3s linear;
}

.portfolio__item:nth-child(2) .portfolio__info,
.portfolio__item:nth-child(7) .portfolio__info {
    top: 100px;
    left: 280px;
}

.portfolio__item:nth-child(3) .portfolio__info,
.portfolio__item:nth-child(5) .portfolio__info,
.portfolio__item:nth-child(6) .portfolio__info,
.portfolio__item:nth-child(8) .portfolio__info {
    top: 85px;
    left: 90px;
}

.portfolio__title {
    padding-bottom: 10px;
    font-weight: 400;
}

.portfolio__text {
    padding-bottom: 20px;
}

.portfolio__icon {
    color: #000;
    display: flex;
    justify-content: center;
}

.circle__one,
.circle__two {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s linear;
}

.circle__one:hover,
.circle__two:hover {
    background-color: #000;
}

.circle__two {
    left: 100px;
    margin-left: 20px;
}

.circle__two a {
    padding: 8px;
}

.circle__one i,
.circle__two a i {
    line-height: 2;
    transition: .3s linear;
}

.circle__one:hover i,
.circle__two:hover a i {
    color: #fff;
}

.portfolio__over {
    background-color: #000;
    opacity: 0;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .3s linear;
}

.portfolio__item:hover .portfolio__over {
    opacity: .6;
}

.portfolio__item:hover .portfolio__info {
    opacity: 1;
    visibility: visible;
} 

.portfolio__item img {
    width: 100%;
    height: 100%;
}

.prtf__img_one {
    display: none;
    position: fixed;
    top: 5%;
    left: 37%;
    z-index: 1000;
}

.prtf__img_two {
    display: none;
    position: fixed;
    top: 30%;
    left: 20%;
    z-index: 1000;
}

.prtf__img_three {
    display: none;
    position: fixed;
    top: 7%;
    left: 3.7%;
    z-index: 1000;
    text-align: right;
}

.prtf__img_four {
    display: none;
    position: fixed;
    top: 8%;
    left: 37%;
    z-index: 1000;
}

.prtf__img_five {
    display: none;
    position: fixed;
    top: 15%;
    left: 22%;
    width: 55%;
    z-index: 1000;
    text-align: center;
}

.prtf__img_six {
    display: none;
    position: fixed;
    top: 15%;
    left: 22%;
    width: 55%;
    text-align: center;
    z-index: 1000;
}

.prtf__img_seven {
    display: none;
    position: fixed;
    top: 30%;
    left: 20%;
    z-index: 1000;
}

.prtf__img_eight {
    display: none;
    position: fixed;
    top: 30%;
    left: 32%;
    width: 35%;
    text-align: center;
    z-index: 1000;
}

.portfolio__image img {
    width: 75%;
}

/* progress
=====================*/
.progress__item {
    margin-bottom: 40px;
}

.progress__item:last-child {
    margin-bottom: 0;
}

.progress__title {
    padding-left: 0;
    padding-bottom: 5px;
}

progress::-webkit-progress-bar {
    background: #f2f2f2;
}

progress::-webkit-progress-value {
    background: #FEAF1E;
}

.progress {
    appearance: none;
    height: 10px;
    width: 530px;
}

/* calc
=====================*/
.calc__item {
    text-align: center;
}

.calc__number {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 50px;
    position: relative;
}

.calc__number::after {
    content: "";
    width: 35px;
    height: 3px;
    position: absolute;
    top: 70px;
    left: 126px;
    
    background-color: #FEAF1E;
}

.calc__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

/* ourtestim
=====================*/
.ourtestim__inner {
    height: 500px;
    background: #31344e url(../img/other/ourtestim.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.ourtestim__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(25, 25, 25, 0.8);
    z-index: 2;
}

.ourtestim__inner .circle__left {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 238px;
    left: 377px;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s linear;
    z-index: 9;
}

.ourtestim__inner .circle__right {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 238px;
    right: 377px;
    font-size: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: .3s linear;
    z-index: 9;
}

.ourtestim__inner .circle__left::before {
    content: "<";
    position: absolute;
    top: 6px;
    left: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    z-index: 9;
}

.ourtestim__inner .circle__right::after {
    content: ">";
    position: absolute;
    top: 6px;
    right: 16px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    z-index: 9;
}

.ourtestim__inner .circle__left:hover,
.ourtestim__inner .circle__right:hover {
    background-color: #fff;
}

.ourtestim__inner .circle__left:hover::before,
.ourtestim__inner .circle__right:hover::after {
    color: #000;
}

.ourtestim__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 100px 0;
    position: relative;
    z-index: 3;
}

.ourtestim__testimonial {
    display: none;
    position: relative;
    z-index: 3;
}

.testimonial__text {
    color: #fff;
    padding-bottom: 20px;
    width: 815px;
    font-style: italic;
}

.testimonial__author {
    padding-left: 0;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 500;
}

.fa-star {
    color: #ffe600;
}

.circle__left {
    position: absolute;
    top: 254px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
}

.circle__right {
    position: absolute;
    top: 254px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
}

.slider {
    display: none;
}

/* ourpricing
=====================*/
.price_h {
    height: 989px;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.pricing__item {
    background-color: #fff;
    width: 360px;
    height: 567px;
    box-shadow: 5px 5px rgba(0, 0, 0, .25);
    text-align: center;
    position: relative;
    transition: all .5s linear;
    border-top: 5px solid transparent;
    cursor: default;
}

.pricing__item:hover {
    transform: translate(-10px, -10px);
    border-color: #FEAF1E;
}

.pricing__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0 40px;
}

.pricing__price {
    display: inline-block;
    background-color: #FEAF1E;
    padding: 40px 15px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 40px;
    border: 2px solid #fff;
    position: relative;
    z-index: 3;
}

.pricing__item::after {
    content: "";
    position: absolute;
    top: 86px;
    left: 95px;
    background-color: #FEAF1E;
    padding: 85px;
    border-radius: 50%;
    z-index: 1;
}

.price__number {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.price__text {
    font-weight: 500;
    font-size: 13px;
    position: relative;
    z-index: 3;
}

.pricing__icon {
    text-align: left;
    padding-left: 100px;
    padding-bottom: 50px;
}

.pricing__icon p {
    padding: 10px 0;
}

.pricing__icon p i {
    padding-right: 15px;
}

.pricing__item .btn {
    font-size: 14px;
    color: #fff;
    padding: 18px 25px;
}

.pricing__item .btn:hover {
    background-color: #6A6B6C;
    padding: 17px 24px;
    border: 1px solid #000;
}

/* brands
=====================*/
.brands__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands__inner a img {
    width: 100px;
    height: 100px;
}

.brands__inner a:nth-child(2) img {
    width: 150px;
    height: 100px;
}

.brands__inner a:nth-child(3) img {
    width: 125px;
    height: 125px;
}

.brands__inner a:nth-child(4) img {
    width: 125px;
    height: 100px;
}

.brands__inner a:nth-child(6) img {
    width: 150px;
    height: 100px;
}

/* subscribeus
=====================*/
.subscribeus__inner {
    height: 400px;
    background: #31344e url(../img/other/subscribeus.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.subscribeus__inner form {
    position: relative;
    z-index: 3; 
}

.subscribeus__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.subscribeus__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
}

.subscribeus__text {
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
    width: 750px;
}

.subscribeus__inner form input {
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 17px 20px;
    width: 600px;
    color: #fff;
    margin-right: 15px;
}

.subscribeus__inner form .btn {
    padding: 17px 14px 18px;
    font-size: 14px;
    color: #fff;
}

.subscribeus__inner form .btn:hover {
    background-color: #6A6B6C;
    padding: 16px 13px 17px;
    border: 1px solid #000;
}

/* recentblogs
=====================*/
.blogs {
    display: flex;
    justify-content: space-between;
}

.blogs__item {
    background-color: #fff;
    width: 360px;
    height: 368px;
    text-align: center;
    position: relative;
    border: 1px solid #EEEEEE;
    transition: all .3s linear;
}

.blogs__img img {
    height: 240px;
    width: 358px;
}

.blogs__item:hover {
    transform: scale(1.05);
}

.blogs__title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 40px 0 10px;
}

.blogs__text {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
}

/* map
=====================*/
.map {
    height: 240px;
    background: #31344e url(../img/other/map.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    padding-top: 110px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.map a {
    color: #fff;
    position: relative;
    z-index: 3;
    padding: 30px 50px;
    transition: all .3s linear;
}

.map a:hover {
    color: #FEAF1E;
}

.map a i {
    color: #FEAF1E;
    padding-left: 30px;
}

.map::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 2;
}

.map.tool::before {
    content: "";
    z-index: -1;
}

.map iframe {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* infiniti
=====================*/
.infiniti__info {
    width: 32.3%;
}

.info__title_line {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    margin-bottom: 60px;
}

.info__title_line::after {
    content: "";
    width: 35px;
    height: 3px;
    position: absolute;
    top: 70px;
    left: 0;
    
    background-color: #FEAF1E;
}

.infiniti__info .info__text {
    color: #fff;
}

.infiniti__inner form {
    width: 65%;
}

.infiniti__inner form input {
    width: 48%;
    outline: none;
    background-color: #434343;
    border: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    color: #fff;
}

.infiniti__inner form input:nth-child(2) {
    margin-left: 25px;
}

.infiniti__inner form textarea {
    display: block;
    width: 100%;
    outline: none;
    background-color: #434343;
    border: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    color: #fff;
}

.infiniti__inner form .btn {
    width: 100%;
    font-size: 14px;
    color: #fff;
    padding: 16px 0;
}

.infiniti__inner form .btn:hover {
    background-color: #434343;
    border: 1px solid #000;
    padding: 15px 0;
}

/* footer
=====================*/
.footer {
    background-color: #212121;
    padding: 34px 0;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
}

/* adaptive */
@media (max-width: 2560px) {

    .section__title::before,
    .section__title_otherLine::before {
        left: 1230px;
    }

    .plus {
        left: 1260px;
    }
    
    .circle__right {
        right: 750px;
    }

    .circle__left {
        left: 750px;
    }

    .ourtestim__testimonial::after {
        right: 765px;
    }

    .ourtestim__testimonial::before {
        left: 765px;
    }

}

@media (max-width: 1920px) {

    .section__title::before,
    .section__title_otherLine::before {
        left: 915px;
    }

    .plus {
        left: 933px;
    }
    
    .circle__right {
        right: 380px;
    }

    .circle__left {
        left: 380px;
    }

    .ourtestim__testimonial::after {
        right: 395px;
    }

    .ourtestim__testimonial::before {
        left: 395px;
    }

}

@media (min-width: 1441px ) and (max-width: 1919px) {

    .section__title::before,
    .section__title_otherLine::before {
        left: 685px;
    }

    .plus {
        left: 704px;
    }
    
    .circle__right {
        right: 200px;
    }

    .circle__left {
        left: 200px;
    }

    .ourtestim__testimonial::after {
        right: 215px;
    }

    .ourtestim__testimonial::before {
        left: 215px;
    }

}

@media (max-width: 1440px) {
    
    .section__title::before,
    .section__title_otherLine::before {
        left: 685px;
    }

    .plus {
        left: 700px;
    }

}

@media (max-width: 1366px) {
    
    .section__title::before, 
    .section__title_otherLine::before {
        left: 645px;
    }

    .plus {
        top: 85px;
        left: 666px;
    }

    .work__item {
        width: 380px;
        height: 220px;
    }

    .ourtestim__testimonial::after {
        right: 190px;
    }

    .ourtestim__testimonial::before {
        left: 190px;
    }

    .circle__right {
        right: 174px;
    }

    .circle__left {
        left: 174px;
    }

    .ourtestim__title {
        padding: 100px 0 75px;
    }

    .testimonial__text {
        width: 700px;
    }

}

@media (max-width: 1024px) {

    .container {
        width: auto;
        max-width: 100%;
        padding: 0 40px;
    }

    .none {
        display: none;
    }

    .brg__menu {
        display: block;
    }

    .section__title::before,
    .section__title_otherLine::before {
        left: 470px;
    }

    .plus {
        left: 495px;
    }

    .portf_h {
        height: 2232px;
    }

    .portfolio__item:first-child {
        top: 306px;
        left: 94px;
    }

    .portfolio__item:nth-child(2) {
        right: 100px;
    }

    .portfolio__item:nth-child(3) {
        top: 306px;
        left: 485px;
    }

    .portfolio__item:nth-child(4) {
        top: 612px;
        right: 98px;
    }

    .portfolio__item:nth-child(5) {
        top: 918px;
        left: 94px;
    }

    .portfolio__item:nth-child(6) {
        top: 1223px;
        left: 94px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -1812px;
        left: 95px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -1501px;
        right: 97px;
    }
    
    .progress {
        width: 400px;
    }

    .calc__number::after {
        left: 100px;
    }

    .ourtestim__title {
        padding: 100px 0 50px;
    }

    .testimonial__text {
        font-size: 12px;
        width: 500px;
    }

    .testimonial__author {
        font-size: 12px;
    }

    .pricing__item {
        width: 300px;
        height: 550px;
    }

    .pricing__item::after {
        left: 65px;
    }

    .pricing__icon {
        padding-left: 70px;
    }

    .brands__inner a img {
        width: 80px;
        height: 80px;
    }

    .brands__inner a:nth-child(2) img {
        width: 130px;
        height: 80px;
    }

    .brands__inner a:nth-child(3) img {
        width: 105px;
        height: 105px;
    }

    .brands__inner a:nth-child(4) img {
        width: 105px;
        height: 80px;
    }

    .brands__inner a:nth-child(6) img {
        width: 130px;
        height: 80px;
    }

    .blogs {
        justify-content: space-around;
    }

    .blogs__item {
        width: 280px;
        height: 325px;
    }

    .blogs__img img {
        height: 200px;
        width: 278px;
    }

    .infiniti__inner form input {
        width: 47%;
    }

    .infiniti__inner form input:nth-child(2) {
        margin-left: 33px;
    }

}

@media (max-width: 812px) {

    .moreabout__item {
        width: 30%;
    }

    .logo__title {
        padding-left: 20px;
    }

    .section__title::before, 
    .section__title_otherLine::before {
        left: 360px;
    }

    .section__text {
        width: 745px;
    }
    
    .plus {
        left: 389px;
    }

    .services__item {
        width: 30%;
    }

    .portf_h {
        height: 2231px;
    }

    .portfolio__item:first-child {
        top: 310px;
        left: -8px;
        width: 355px;
    }

    .portfolio__item:nth-child(2) {
        right: -11px;
    }

    .portfolio__item:nth-child(3) {
        top: 310px;
        left: 388px;
        width: 355px;
    }

    .portfolio__item:nth-child(4) {
        top: 618px;
        right: -11px;
        width: 355px;
    }

    .portfolio__item:nth-child(5) {
        top: 920px;
        left: -8px;
        width: 355px;
    }

    .portfolio__item:nth-child(6) {
        top: 1225px;
        left: -8px;
        width: 355px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -1810px;
        left: -8px;
        width: 751px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -1498px;
        right: -11px;
        width: 355px;
        height: 274px;
    }

    .ourskill__progress {
        margin-top: 50px;
    }

    .progress {
        width: 350px;
    }

    .calc__number::after {
        left: 75px;
    }

    .ourtestim__testimonial::after {
        right: 80px;
    }

    .ourtestim__testimonial::before {
        left: 80px;
    }

    .circle__right {
        right: 65px;
    }

    .circle__left {
        left: 65px;
    }

    .price_h {
        height: 928px;
    }

    .pricing__item {
        width: 210px;
        height: 500px;
    }

    .pricing__title {
        padding: 20px 0 30px;
    }

    .pricing__price {
        margin-bottom: 30px;
    }

    .pricing__item::after {
        left: 20px;
        top: 75px;
    }

    .pricing__icon {
        padding-left: 40px;
        padding-bottom: 30px;
    }

    .brands__inner {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .brands__inner a img {
        width: 150px;
        height: 100px;
        margin: 20px;
    }

    .brands__inner a:nth-child(2) img {
        width: 150px;
        height: 100px;
    }

    .brands__inner a:nth-child(3) img {
        width: 150px;
        height: 140px;
    }

    .brands__inner a:nth-child(4) img {
        width: 150px;
        height: 100px;
    }

    .brands__inner a:nth-child(6) img {
        width: 150px;
        height: 100px;
    }

    .subscribeus__text {
        font-size: 12px;
    }

    .subscribeus__inner form input {
        width: 450px;
    }

    .blogs {
        flex-wrap: wrap;
    }

    .blogs__item:first-child {
        margin-bottom: 30px;
    }

    .blogs__item:nth-child(2) {
        margin-bottom: 30px;
    }

    .infiniti__inner form input:nth-child(2) {
        margin-left: 19px;
    }

    .infiniti__info {
        width: 40%;
    }

    .infiniti__inner form {
        width: 55%;
    }

}

@media (max-width: 768px) {

    .section__title::before,
    .section__title_otherLine::before {
        left: 350px;
    }

    .section__text {
        width: 700px;
    }

    .accordion__title,
    .logo__title {
        font-size: 14px;
    }

    .moreabout__item {
        width: 30%;
    }

    .logo__title {
        padding-left: 15px;
    }

    .plus {
        left: 366px;
    }

    .services__item {
        width: 30%;
    }

    .services__text {
        font-size: 12px;
    }

    .hireus__title {
        font-size: 30px;
    }

    .hireus__text {
        width: 650px;
    }

    .portf_h {
        height: 2109px;
    }

    .portfolio__item:first-child {
        top: 285px;
        left: -2px;
        width: 330px;
    }

    .portfolio__item:nth-child(2) {
        right: 0;
        width: 690px;
    }

    .portfolio__item:nth-child(3) {
        top: 285px;
        left: 364px;
        width: 325px;
    }

    .portfolio__item:nth-child(4) {
        top: 577px;
        right: -2px;
        width: 325px;
    }

    .portfolio__item:nth-child(5) {
        top: 850px;
        left: -2px;
        width: 331px;
    }

    .portfolio__item:nth-child(6) {
        top: 1138px;
        left: -2px;
        width: 332px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -1688px;
        left: -2px;
        width: 692px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -1394px;
        right: -2px;
        width: 325px;
        height: 257px;
    }

    .info__title_other::before {
        top: 100px;
    }

    .progress {
        width: 300px;
    }

    .progress__item:first-child {
        padding-top: 30px;
    }

    .calc__number::after {
        left: 70px;
    }

    .testimonial__text {
        width: 400px;
    }

}
    
@media (max-width: 736px) {
    
    .section__title::before, 
    .section__title_otherLine::before {
        left: 330px;
    }

    .section__text {
        width: 650px;
    }

    .plus {
        left: 351px;
    }

    .portfolio__item:first-child,
    .portfolio__item:nth-child(5),
    .portfolio__item:nth-child(6),
    .portfolio__item:nth-child(7) {
        left: -16px;
    }

    .portfolio__item:nth-child(3) {
        left: 349px;
    }

    .portfolio__item:nth-child(2),
    .portfolio__item:nth-child(4),
    .portfolio__item:nth-child(8) {
        right: -18px;
    }

    .calc__number::after {
        left: 65px;
    }

    .pricing__item {
        width: 200px;
    }

    .pricing__item::after {
        left: 15px;
    }

    .subscribeus__text {
        width: 720px;
    }

    .info__icons i {
        margin-right: 8px;
    }

    .infiniti__inner form input:nth-child(2) {
        margin-left: 18px;
    }

}

@media (max-width: 667px) {

    .intro__title {
        font-size: 54px;
    }

    .about__inner {
        flex-wrap: wrap;
    }

    .about__info, 
    .about__accordion {
        width: 100%;
    }

    .about__info {
        margin-bottom: 70px;
    }

    .section__title::before, 
    .section__title_otherLine::before {
        left: 295px;
    }

    .section__text {
        width: 600px;
    }

    .plus {
        left: 316px;
    }

    .hireus__text {
        width: 580px;
    }

    .portf_h {
        height: 1866px;
    }

    .portfolio__item:first-child {
        top: 245px;
        left: 2px;
        width: 280px;
    }

    .portfolio__item:nth-child(2) {
        right: 0;
        width: 585px;
    }

    .portfolio__item:nth-child(3) {
        top: 245px;
        left: 308px;
        width: 280px;
    }

    .portfolio__item:nth-child(4) {
        top: 490px;
        right: -1px;
        width: 280px;
    }

    .portfolio__item:nth-child(5) {
        top: 729px;
        left: 2px;
        width: 280px;
    }

    .portfolio__item:nth-child(6) {
        top: 975px;
        left: 2px;
        width: 280px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -1445px;
        left: 2px;
        width: 586px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -1190px;
        right: -1px;
        width: 280px;
        height: 215px;
    }

    .calc__number::after {
        left: 55px;
    }

    .price_h {
        height: 2014px;
    }

    .pricing {
        justify-content: center;
        flex-wrap: wrap;
    }

    .pricing__item {
        width: 300px;
        height: 520px;
    }

    .pricing__item:first-child,
    .pricing__item:nth-child(2) {
        margin-bottom: 30px;
    }

    .pricing__item::after {
        left: 64px;
    }

    .pricing__icon {
        padding-left: 70px;
    }

    .subscribeus__text {
        width: 575px;
    }

    .infiniti__inner form input:nth-child(2) {
        margin-left: 15px;
    }

    .info__icons i {
        margin-right: 4px;
    }

}

@media (max-width: 568px) {

    .intro__title {
        font-size: 45px;
    }

    .moreabout .p-100 {
        padding: 100px 0 100px;
    }

    .moreabout__inner {
        flex-wrap: wrap;
    }
    .moreabout__item {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .moreabout__item:last-child {
        margin-bottom: 0;
    }

    .section .p-100 {
        padding: 100px 0 50px;
    }

    .section__title::before, 
    .section__title_otherLine::before {
        left: 240px;
    }

    .info__title_other::before {
        top: 60px;
    }

    .section__text {
        width: 515px;
    }

    .plus {
        left: 267px;
    }

    .services {
        flex-wrap: wrap;
    }

    .services__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .services__item:last-child {
        margin-bottom: 0;
    }

    .hireus__inner {
        height: 470px;
    }

    .hireus__title {
        font-size: 28px;
    }

    .hireus__text {
        width: 510px;
    }

    .portf_h {
        height: 4046px;
    }

    .portfolio__item:first-child {
        top: 200px;
        left: -2px;
        width: 490px;
    }

    .portfolio__item:nth-child(2) {
        width: 490px;
    }

    .portfolio__item:nth-child(3) {
        top: 1015px;
        left: -2px;
        width: 490px;
    }

    .portfolio__item:nth-child(4) {
        top: 1415px;
        width: 490px;
    }

    .portfolio__item:nth-child(5) {
        top: 2230px;
        left: -2px;
        width: 490px;
    }

    .portfolio__item:nth-child(6) {
        top: 2625px;
        left: -3px;
        width: 490px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -3605px;
        left: -2px;
        width: 490px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -3400px;
        width: 490px;
        height: 377px;
    }

    .ourskill__inner {
        flex-wrap: wrap;
    }

    .ourskill__info {
        width: 100%;
    }

    .progress {
        width: 450px;
    }

    .calc__number::after {
        left: 45px;
    }

    .circle__right, 
    .circle__left, 
    .ourtestim__testimonial::after, 
    .ourtestim__testimonial::before {
        display: none;
    }

    .testimonial__text {
        width: 320px;
    }

    .slider {
        display: block;
        margin-top: 30px;
        color: #fff;
    }
    
    .slider i {
        padding: 0 3px;
    }

    .subscribeus__text {
        width: 350px;
        padding-bottom: 30px;
    }

    .subscribeus__inner {
        height: 465px;
    }

    .subscribeus__inner form input {
        width: 460px;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .infiniti__inner {
        flex-wrap: wrap;
    }

    .infiniti__info,
    .infiniti__inner form,
    .infiniti__inner form input {
        width: 100%;
    }

    .infiniti__info {
        margin-bottom: 50px;
    }

    .info__text {
        margin-bottom: 30px;
    }

    .infiniti__inner form input:nth-child(2) {
        margin-left: 0;
    }

}

@media (max-width: 480px) {
    
}

@media (max-width: 425px) {

    .p-100 {
        padding: 100px 0 50px;
    }

    .intro__title {
        font-size: 40px;
    }

    .accordion__title {
        padding-left: 20px;
    }

    .section__title, 
    .section__title_otherLine {
        font-size: 28px;
    }

    .section__title::before,
    .section__title_otherLine::before {
        left: 170px;
    }

    .section__text {
        width: 350px;
        font-size: 12px;
    }

    .plus {
        top: 60px;
        left: 192px;
    }

    .work__item {
        width: 280px;
        height: 160px;
    }

    .hireus__text {
        width: 365px;
    }

    .portf_h {
        height: 3040px;
    }

    .portfolio__item:first-child {
        top: 150px;
        left: -5px;
        width: 350px;
    }

    .portfolio__item:nth-child(2) {
        right: 0;
        width: 350px;
    }

    .portfolio__item:nth-child(3) {
        top: 740px;
        left: -5px;
        width: 350px;
    }

    .portfolio__item:nth-child(4) {
        top: 1035px;
        right: 0px;
        width: 351px;
    }

    .portfolio__item:nth-child(5) {
        top: 1630px;
        left: -5px;
        width: 350px;
    }

    .portfolio__item:nth-child(6) {
        top: 1925px;
        left: -5px;
        width: 350px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -2650px;
        left: -4px;
        width: 349px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -2490px;
        right: 0px;
        width: 350px;
        height: 270px;
    }

    .info__title_other::before {
        top: 60px;
    }

    .progress {
        width: 340px;
    }

    .calc .p-100 {
        padding: 100px 0;
    }

    .calc__inner {
        flex-wrap: wrap;
    }

    .calc__item {
        width: 50%;
    }

    .calc__item:first-child, 
    .calc__item:nth-child(2) {
        margin-bottom: 40px;
    }

    .calc__number {
        padding-bottom: 35px;
    }

    .calc__number::after {
        top: 60px;
        left: 70px;
    }

    .brands__inner a img {
        width: 125px;
    }

    .brands__inner a:nth-child(2) img {
        width: 130px;
    }

    .brands__inner a:nth-child(3) img {
        width: 125px;
    }

    .brands__inner a:nth-child(4) img {
        width: 130px;
    }

    .brands__inner a:nth-child(6) img {
        width: 130px;
    }

    .subscribeus__inner form input {
        width: 370px;
    }

    .map {
        font-size: 25px;
    }

    .map a {
        padding: 0;
    }

    .map a i {
        padding-left: 15px;
    }

}

@media (max-width: 414px) {

    .portf_h {
        height: 3040px;
    }

    .portfolio__item:first-child,
    .portfolio__item:nth-child(3),
    .portfolio__item:nth-child(5),
    .portfolio__item:nth-child(6),
    .portfolio__item:nth-child(7) {
        left: -8px;
    }

    .portfolio__item:nth-child(2),
    .portfolio__item:nth-child(4),
    .portfolio__item:nth-child(8) {
        right: -8px;
    }

    .info__title_other::before {
        top: 100px;
    }

    .ourskill__progress {
        margin-top: 20px;
    }

    .brands__inner a img {
        width: 150px;
        height: 130px;
    }

    .brands__inner a:nth-child(2) img {
        width: 200px;
    }

    .brands__inner a:nth-child(3) img {
        width: 200px;
        height: 140px;
    }

    .brands__inner a:nth-child(4) img {
        width: 150px;
    }

    .brands__inner a:nth-child(6) img {
        width: 185px;
    }

}

@media (max-width: 375px) {

    .none_i {
        display: none;
    }

    .brg__menu {
        font-size: 20px;
    }

    .intro {
        height: 765px;
    }

    .intro__title {
        font-size: 35px;
    }

    .section__title, 
    .section__title_otherLine {
        font-size: 24px;
    }

    .section__title::before {
        left: 145px;
    }

    .section__title_otherLine::before {
        top: 50px;
        left: 145px;
    }

    .section__text {
        width: 300px;
    }

    .plus {
        left: 167px;
    }

    .hireus__inner {
        height: 441px;
    }

    .hireus__title {
        font-size: 25px;
    }

    .hireus__text {
        width: 320px;
        font-size: 12px;
    }

    .portf_h {
        height: 2705px;
    }

    .portfolio__item:first-child {
        top: 135px;
        width: 300px;
    }

    .portfolio__item:nth-child(2) {
        width: 300px;
    }

    .portfolio__item:nth-child(3) {
        top: 645px;
        width: 300px;
    }

    .portfolio__item:nth-child(4) {
        top: 900px;
        width: 300px;
    }

    .portfolio__item:nth-child(5) {
        top: 1415px;
        width: 300px;
    }

    .portfolio__item:nth-child(6) {
        top: 1675px;
        width: 300px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -2315px;
        width: 300px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -2170px;
        width: 300px;
        height: 232px;
    }

    .portfolio__item:first-child,
    .portfolio__item:nth-child(3),
    .portfolio__item:nth-child(5),
    .portfolio__item:nth-child(6),
    .portfolio__item:nth-child(7) {
        left: -3px;
    }

    .portfolio__item:nth-child(2),
    .portfolio__item:nth-child(4),
    .portfolio__item:nth-child(8) {
        right: -3px;
    }

    .info__title_other::before {
        top: 100px;
    }

    .progress {
        width: 300px;
    }

    .calc__number::after {
        left: 57px;
    }

    .subscribeus__inner {
        height: 467px;
    }

    .subscribeus__title {
        font-size: 28px;
    }

    .subscribeus__text {
        width: 325px;
    }

    .subscribeus__inner form input {
        width: 320px;
        padding: 15px;
    }

}

@media (max-width: 320px) {

    body {
        font-size: 12px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .intro {
        background-position: -500px;
    }

    .intro__title {
        font-size: 30px;
    }

    .btn {
        padding: 9px 15px;
        font-size: 17px;
    }

    .intro__inner .btn:nth-child(3) {
        padding: 8px 15px;
        margin-left: 10px;
    }

    .accordion__title {
        font-size: 12px;
        padding-left: 15px;
    }

    .section__title, 
    .section__title_otherLine {
        font-size: 28px;
    }

    .section__title::before,
    .section__title_otherLine::before {
        left: 120px;
    }
    
    .section__title_otherLine::before {
        top: 90px;
    }

    .section__text {
        width: 280px;
    }

    .plus {
        top: 45px;
        left: 141px;
    }

    .work__item {
        width: 225px;
        height: 130px;
    }

    .hireus__inner {
        height: 481px;
    }

    .hireus__title {
        padding-bottom: 30px;
    }

    .hireus__text {
        width: 300px;
    }

    .portf_h {
        height: 2252px;
    }

    .portfolio__item:first-child {
        top: 110px;
        left: 0;
        width: 240px;
    }

    .portfolio__item:nth-child(2) {
        width: 240px;
    }

    .portfolio__item:nth-child(3) {
        top: 520px;
        left: 0;
        width: 240px;
    }

    .portfolio__item:nth-child(4) {
        top: 725px;
        width: 240px;
    }

    .portfolio__item:nth-child(5) {
        top: 1135px;
        left: 0;
        width: 240px;
    }

    .portfolio__item:nth-child(6) {
        top: 1340px;
        left: 0;
        width: 240px;
    }

    .portfolio__item:nth-child(7) {
        bottom: -1845px;
        left: 0;
        width: 240px;
    }

    .portfolio__item:nth-child(8) {
        bottom: -1730px;
        width: 240px;
        height: 185px;
    }

    .progress {
        width: 250px;
    }

    .calc__item {
        width: 43%;
    }

    .calc__number::after {
        left: 34px;
    }

    .ourtestim__inner {
        height: 544px;
    }

    .ourtestim__title {
        font-size: 32px;
        padding: 100px 0 35px;
    }
    
    .testimonial__text {
        width: 250px;
    }

    .price_h {
        height: 1974px;
    }

    .pricing__item {
        height: 500px;
    }

    .pricing__item::after {
        left: 35px;
    }

    .pricing__icon {
        padding-left: 40px;
    }

    .subscribeus__inner {
        height: 446px;
    }

    .subscribeus__title {
        font-size: 24px;
    }

    .subscribeus__text {
        width: 280px;
    }

    .subscribeus__inner form input {
        width: 265px;
        padding: 10px;
    }

    .subscribeus__inner form .btn {
        padding: 14px 14px 15px;
    }

    .map {
        height: 220px;
        font-size: 20px;
        padding-top: 100px;
    }

    .info__icons i {
        width: 35px;
        height: 35px;
    }
}