* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.p-100 {
    padding: 100px 0;
}

.pb-100 {
    padding-bottom: 100px;
}

.bg-gray {
    background-color: #f2f2f2;
}

.bg-dgray {
    background-color: #6a6b6c;
}

::placeholder {
    color: #fff;
    font-style: italic;
    font-size: 14px;
}

.yellow {
    color: #FEAF1E;
}

/* container
=====================*/
.container {
    max-width: 1171px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* header
=====================*/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 9;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo a h2 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

/* nav
=====================*/
.nav {
    display: flex;
    font-weight: 500;
}

.nav__link {
    margin-left: 15px;
    padding: 15px 10px;
    transition: .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    color: #fff;
}

/* intro
=====================*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 822px;
    padding-top: 380px;

    background: #31344e url(../img/other/background.jpg) center no-repeat;
    background-size: cover;
}


.intro__inner {
    width: 100%;
    max-width: 970px;
}

.intro__inner a:nth-child(3) {
    margin-left: 15px;
}

.intro__inner .btn:nth-child(3) {
    background-color: transparent;
    padding: 9px 24px;
    border: 1px solid #fff;
    color: #fff;
}

.intro__inner .btn:nth-child(3):hover {
    color: #000;
    background-color: #FEAF1E;
}

.intro__title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.intro__title span {
    display: block;
}

/* button
=====================*/
.btn {
    display: inline-block;
    padding: 10px 25px;

    background-color: #FEAF1E;

    text-align: center;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    transition: background-color .5s linear;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 9px 24px;
}

/* about, ourskill
=====================*/
.about,
.ourskill {
    border-bottom: 2px solid #afafaf;
}

.about__inner,
.ourskill__inner,
.infiniti__inner {
    display: flex;
    justify-content: space-between;
}

.about__info,
.about__accordion,
.ourskill__info,
.ourskill__progress {
    width: 48%;
}

.about__info .btn:hover {
    background-color: #6A6B6C;
    color: #fff;
    border: 1px solid #000;
    padding: 9px 24px;
}

.ourskill__info .info__text {
    margin-bottom: 0;
}

/* info
=====================*/
.info__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    margin-bottom: 45px;
}

.info__title::before {
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 0;
    
    background-color: #FEAF1E;
}

.info__text {
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 45px;
}

.info__icons i {
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 3;
    background-color: #434343;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .3s linear;
}

.info__icons i:hover {
    color: #434343;
    background-color: #fff;
}

/* accordion
=====================*/
.accordion__item {
    margin-bottom: 10px;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

.accordion__header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

.arrow {
    background-color: #e0e0e0;
    padding: 17px 21px;
}

.accordion__title,
.logo__title,
.services__title,
.progress__title,
.testimoinal__author {
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.accordion__content {
    padding: 35px 25px 25px;
    font-weight: 300;
    line-height: 16px;

    display: none;
}

.accordion__item.active .arrow i {
    transform: rotate(90deg);
    color: #fff;
}

.accordion__item.active .arrow {
    background-color: #333;
}

.accordion__item.active .accordion__content {
    display: block;
    border-bottom: 1px solid #e4e4e4;
}

.accordion__item.active .accordion__header:after {
    transform: translateY(-50%);
}

/* moreabout
=====================*/
.moreabout__inner,
.calc__inner {
    display: flex;
    justify-content: space-between;
}

.moreabout__inner .moreabout__item:nth-child(2) .moreabout__logo .logo__circle,
.moreabout__inner .moreabout__item:nth-child(3) .moreabout__logo .logo__circle {
    padding: 18px;
}

.moreabout__item,
.calc__item {
    width: 33%;
}

.moreabout__logo {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    z-index: 1;
}

.logo__circle {
    background-color: #FEAF1E;
    padding: 18px 21px;
    border-radius: 50%;
    z-index: 2;
}

.logo__circle i {
    font-size: 22px;
}

.moreabout__logo::before {
    content: "";
    background-color: #FEAF1E;
    padding: 33px 34px;
    border-radius: 50%;
    opacity: .5;
    top: -4px;
    left: -5px;
    position: absolute;
}

.moreabout__text,
.services__text {
    font-weight: 300;
    line-height: 16px;
}

/* prevideo
=====================*/
.prevideo {
    height: 280px;
    background: #31344e url(../img/other/prevideo.jpg) center no-repeat;
    background-size: cover;
    opacity: .7;
    text-align: center;
    line-height: 3;
    font-size: 100px;
}

.prevideo a i{
    cursor: pointer;
    transition: .3s linear;
    color: #fff;
}

.prevideo a:hover i{
    color: #000;
}

/* section
=====================*/
.section__header {
    text-align: center;
}

.section__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 45px;
    position: relative;
    text-transform: uppercase;
}

.section__title::before {
    content: "";
    width: 85px;
    height: 3px;
    position: absolute;
    top: 60px;
    left: 915px;
    
    background-color: #FEAF1E;
}

.section__text,
.hireus__text,
.testimoinal__text,
.subscribeus__text {
    width: 800px;
    margin: 0 auto;
    font-weight: 300;
    line-height: 20px;
}

/* featuredwork
=====================*/
.featuredwork {
    position: relative;
    max-width: 1903;
    overflow: hidden;
}

.work {
    display: flex;
    justify-content: center;
}

.work__item {
    width: 580px;
    height: 330px;
    margin: 0 10px;
    opacity: .7;
}

.work__item:nth-child(3) {
    opacity: 1;
}

.work__item img {
    height: 100%;
}

.plus {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 30px;
    color: #000;
    position: absolute;
    top: 145px;
    left: 933px;
    cursor: pointer;
    transition: .3s linear;
}

.plus:hover {
    color: #fff;
    background-color: #333;
}

/* ourservices
=====================*/
.services {
    display: flex;
    justify-content: space-between;
}

.services__icon {
    font-size: 36px;
    padding: 0 0 25px 10px;
}

.services__title {
    padding-left: 0;
    padding-bottom: 25px;
    position: relative;
}

.services__title::before {
    content: "";
    width: 35px;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    
    background-color: #FEAF1E;
}

.services__text {
    padding-right: 5px;
}

.fa-sync-alt {
    transform: rotate(45deg);
}

/* hireus
=====================*/
.hireus__inner {
    height: 400px;
    background: #31344e url(../img/other/hireus.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.hireus__inner .btn {
    position: relative;
    z-index: 3;    
}

.hireus__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}

.hireus__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
}

.hireus__text {
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
    width: 750px;
}

/* ourportfolio
=====================*/
.portf_h {
    height: 1618px;
}

.portfolio {
    position: relative;
}

.portfolio__item {
    transition: .1s linear;
    z-index: 1;
}

.portfolio__item:first-child {
    width: 360px;
    height: 582px;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio__item:nth-child(2) {
    width: 750px;
    height: 276px;
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio__item:nth-child(3) {
    width: 360px;
    height: 276px;
    position: absolute;
    top: 306px;
    left: 391px;
}

.portfolio__item:nth-child(4) {
    width: 360px;
    height: 582px;
    position: absolute;
    top: 306px;
    right: 0;
}

.portfolio__item:nth-child(5) {
    width: 360px;
    height: 276px;
    position: absolute;
    top: 612px;
    left: 0;
}

.portfolio__item:nth-child(6) {
    width: 360px;
    height: 276px;
    position: absolute;
    top: 612px;
    left: 391px;
}

.portfolio__item:nth-child(7) {
    width: 750px;
    height: 276px;
    position: absolute;
    bottom: -1194px;
    left: 0;
}

.portfolio__item:nth-child(8) {
    width: 360px;
    height: 276px;
    position: absolute;
    bottom: -1194px;
    right: 0;
    transition: .5s linear;
}

.portfolio__info {
    display: block;
    z-index: 9;
}

.portfolio__item:hover {
    filter: blur(1px);
}

.portfolio__item:hover .portfolio__info {
    opacity: 1;
    visibility: visible;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
}

/* progress
=====================*/
.progress__item {
    margin-bottom: 40px;
}

.progress__item:last-child {
    margin-bottom: 0;
}

.progress__title {
    padding-left: 0;
    padding-bottom: 5px;
}

progress::-webkit-progress-bar {
    background: #f2f2f2;
}

progress::-webkit-progress-value {
    background: #FEAF1E;
}

.progress {
    appearance: none;
    height: 10px;
    width: 530px;
}

/* calc
=====================*/
.calc__item {
    text-align: center;
}

.calc__number {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    padding-bottom: 50px;
    position: relative;
}

.calc__number::after {
    content: "";
    width: 35px;
    height: 3px;
    position: absolute;
    top: 70px;
    left: 126px;
    
    background-color: #FEAF1E;
}

.calc__text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

/* ourtestim
=====================*/
.ourtestim__inner {
    height: 500px;
    background: #31344e url(../img/other/ourtestim.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.ourtestim__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 2;
}

.ourtestim__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 100px 0;
    position: relative;
    z-index: 3;
}

.ourtestim__testimoinal {
    position: relative;
    z-index: 3;
}

.ourtestim__testimoinal::before {
    content: "<";
    position: absolute;
    top: 25px;
    left: 396px;
    color: #fff;
    cursor: pointer;
}

.ourtestim__testimoinal::after {
    content: ">";
    position: absolute;
    top: 25px;
    right: 396px;
    color: #fff;
    cursor: pointer;
}

.testimoinal__text {
    color: #fff;
    padding-bottom: 20px;
    width: 815px;
}

.testimoinal__author {
    padding-left: 0;
    padding-bottom: 20px;
    color: #fff;
}

.fa-star {
    color: #ffe600;
}

.circle__left {
    position: absolute;
    top: 12px;
    left: 380px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.circle__right {
    position: absolute;
    top: 12px;
    right: 380px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

/* ourpricing
=====================*/
.price_h {
    height: 989px;
}

.pricing {
    display: flex;
    justify-content: space-between;
}

.pricing__item {
    background-color: #fff;
    width: 360px;
    height: 567px;
    box-shadow: 5px 5px rgba(0, 0, 0, .25);
    text-align: center;
    position: relative;
    transition: all .5s linear;
    border-top: 5px solid transparent;
    cursor: default;
}

.pricing__item:hover {
    transform: translate(-10px, -10px);
    border-color: #FEAF1E;
}

.pricing__title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0 40px;
}

.pricing__price {
    display: inline-block;
    background-color: #FEAF1E;
    padding: 40px 15px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 40px;
    border: 2px solid #fff;
    position: relative;
    z-index: 3;
}

.pricing__item::after {
    content: "";
    position: absolute;
    top: 86px;
    left: 95px;
    background-color: #FEAF1E;
    padding: 85px;
    border-radius: 50%;
    z-index: 1;
}

.price__number {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    z-index: 3;
}

.price__text {
    font-weight: 500;
    font-size: 13px;
    position: relative;
    z-index: 3;
}

.pricing__icon {
    text-align: left;
    padding-left: 100px;
    padding-bottom: 50px;
}

.pricing__icon p {
    padding: 10px 0;
}

.pricing__icon p i {
    padding-right: 15px;
}

.pricing__item .btn {
    font-size: 14px;
    color: #fff;
    padding: 18px 25px;
}

.pricing__item .btn:hover {
    background-color: #6A6B6C;
    padding: 17px 24px;
    border: 1px solid #000;
}

/* brands
=====================*/
.brands__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands__inner a img {
    width: 100px;
    height: 100px;
}

.brands__inner a:nth-child(2) img {
    width: 150px;
    height: 100px;
}

.brands__inner a:nth-child(3) img {
    width: 125px;
    height: 125px;
}

.brands__inner a:nth-child(4) img {
    width: 125px;
    height: 100px;
}

.brands__inner a:nth-child(6) img {
    width: 150px;
    height: 100px;
}

/* subscribeus
=====================*/
.subscribeus__inner {
    height: 400px;
    background: #31344e url(../img/other/subscribeus.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.subscribeus__inner form {
    position: relative;
    z-index: 3; 
}

.subscribeus__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(133, 133, 133, 0.7);
    z-index: 2;
}

.subscribeus__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
}

.subscribeus__text {
    color: #fff;
    padding-bottom: 40px;
    z-index: 3;
    position: relative;
    width: 750px;
}

.subscribeus__inner form input {
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 17px 20px;
    width: 600px;
    color: #fff;
    margin-right: 15px;
}

.subscribeus__inner form .btn {
    padding: 17px 14px 18px;
    font-size: 14px;
    color: #fff;
}

.subscribeus__inner form .btn:hover {
    background-color: #6A6B6C;
    padding: 16px 13px 17px;
    border: 1px solid #000;
}

/* recentblogs
=====================*/
.blogs {
    display: flex;
    justify-content: space-between;
}

.blogs__item {
    background-color: #fff;
    width: 360px;
    height: 368px;
    text-align: center;
    position: relative;
    border: 1px solid #EEEEEE;
    transition: all .3s linear;
    cursor: pointer;
}

.blogs__img img {
    height: 240px;
    width: 358px;
}

.blogs__item:hover {
    transform: scale(1.05);
}

.blogs__title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 40px 0 10px;
}

.blogs__text {
    font-weight: 300;
    font-size: 14px;
    font-style: italic;
}

/* map
=====================*/
.map {
    height: 240px;
    background: #31344e url(../img/other/map.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    padding-top: 110px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.map a {
    color: #fff;
    position: relative;
    z-index: 3;
    padding: 30px 50px;
    transition: all .3s linear;
}

.map a:hover {
    color: #434343;
}

.map a i {
    color: #FEAF1E;
    padding-left: 30px;
}

.map::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(133, 133, 133, 0.7);
    z-index: 2;
}

/* infiniti
=====================*/
.infiniti__info {
    width: 32.3%;
}

.info__title_line {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    margin-bottom: 60px;
}

.info__title_line::after {
    content: "";
    width: 35px;
    height: 3px;
    position: absolute;
    top: 70px;
    left: 0;
    
    background-color: #FEAF1E;
}

.infiniti__info .info__text {
    color: #fff;
}

.infiniti__inner form {
    width: 65%;
}

.infiniti__inner form input {
    width: 48%;
    outline: none;
    background-color: #434343;
    border: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    color: #fff;
}

.infiniti__inner form input:nth-child(2) {
    margin-left: 26px;
}

.infiniti__inner form textarea {
    display: block;
    width: 100%;
    outline: none;
    background-color: #434343;
    border: none;
    padding: 15px 20px;
    margin-bottom: 15px;
    color: #fff;
}

.infiniti__inner form .btn {
    width: 100%;
    font-size: 14px;
    color: #fff;
    padding: 16px 0;
}

.infiniti__inner form .btn:hover {
    background-color: #434343;
    border: 1px solid #000;
    padding: 15px 0;
}

/* footer
=====================*/
.footer {
    background-color: #212121;
    padding: 34px 0;
    text-align: center;
    color: #fff;
}

.footer a {
    color: #fff;
}
